

<div class="form-group col-sm-12">
  <%#= simple_form_for([@commentable, @commentable.comments.new]) do |f| %>
  <%= simple_form_for(comment, url: comment_path) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%#= f.input :body, as: :text, label: false %>
    <%= f.input :body, as: :rich_text_area, label: false %>
    <%= f.button :submit, "Post Comment", class: "actions btn btn-primary rounded mt-3" %>
  <% end %>
</div>