<b>
  You have enrolled in the course
</b>
<%= link_to @enrollment.course, @enrollment.course %>
<div class="row">
  <b>
    Enrollment date:
  </b>
  <%= @enrollment.created_at %>
</div>
<div class="row">
  <b>
    Enrollment ID:
  </b>
  <%= @enrollment.slug %>
</div>
<div class="row">
  <b>
    Course price:
  </b>
  <%= number_to_currency(@enrollment.course.price) %>
</div>
<div class="row">
  <b>
    Price paid:
  </b>
  <%= number_to_currency(@enrollment.price) %>
</div>
<div class="row">
  <b>
    Course instructor:
  </b>
  <%= @enrollment.course.user.username %>
  <%= mail_to @enrollment.course.user.email, @enrollment.course.user.email %>
</div>
<p>
  After completing the course, you will be entitled to a Certificate of Completion.
</p>
<p>
  Regards,
</p>
<div class="row">
  <%= link_to 'The Brainstaq team', root_url %>
</div>