<% content_for :title, "Skills" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
      <div class="row d-flex align-items-center h-100">
          <div class="col-md-12 text-center">
              <h2 class="h1 font-weight-bold">Skills</h2>
              <nav class="mt-15" aria-label="breadcrumb">
                  <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
                      <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-black-300" %></li>
                      <li class="breadcrumb-item text-primary" aria-current="page">All Skills</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <h2>All Skills</h2>
    <%= link_to 'Add Skill', new_skill_path, class: "btn btn-primary mb-3 float-right" %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="d-flex justify-content-end"> Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td class="d-flex justify-content-end">  <a href="<%= skill_path(skill) %>" class="mr-2" title="View Skill"><i class="fas fa-eye"></i></a>
            <%= link_to edit_skill_path(skill), title: "Edit Skill" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to skill_path(skill), method: :delete, data: { confirm: "Are you sure you want to delete this skill?" }, title: "Delete Skill" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
.d-flex.justify-content-end {
  display: flex;
  justify-content: flex-end;
}
</style>