<div class="row ml-2">
  <div class="d-md-flex my-4">
    <div class="mt-3 flex-shrink-0">
      <% if comment.user.image.url %>
        <%= image_tag comment.user.image.url, class: 'avatar-img rounded-circle', style: "width: 30px; height: 30px;" %>
      <% else %>
        <%= image_tag 'avatar.png', class: 'rounded-circle avatar-img', style: "width: 35px; height: 35px;" %>
      <% end %>
    </div>
    <div class="p-3">
      <div class="d-sm-flex mt-md-0 align-items-center">
        <h5 class="me-3 mb-0">
          <strong><%= link_to comment.user.full_name.titleize %></strong>
        </h5>
      </div>
      <p class="small mb-2">Posted on <%= local_time(comment.created_at) %></p>
      <p class="mb-0"><%= comment.body %> </p>
      <div class="btn-group mt-2">
        <% if user_signed_in? && (current_user.id == comment.user_id) %>
          <%= link_to [@course, @lesson, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  
  
</style>


