<% content_for :title, "Review" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="margin-bottom:50px; background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Course Reviews</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to enrollment.course.title, course_path(enrollment.course), class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Reviews</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->


<div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= image_tag enrollment.user.image.url, class: 'rounded-circle mr-3', size: '50x50' %>
      <div>
        <h5 class="mb-0">
          <span class="text-warning fa fa-star"></span>
          <b><%= enrollment.rating %></b>
        </h5>
        <h6 class="card-subtitle text-muted">
          <%= link_to enrollment.user.username, profile_path(enrollment.user.username) %>
        </h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      <b><%= enrollment.review %></b>
    </p>
  </div>
  <div class="card-footer text-muted d-flex justify-content-between align-items-center">
    <p class="mb-0">
      <span class="fa fa-clock"></span>
      Reviewed <%= time_ago_in_words(enrollment.updated_at) %> ago
    </p>
    <% if policy(enrollment).edit? %>
      <p class="mb-0">
        <%= link_to 'Edit Review', edit_enrollment_path(enrollment), class: "btn btn-sm btn-primary" %>
      </p>
    <% end %>
  </div>
</div>


<style>
  .card {
    max-width: 1000px;
    margin: 0 auto;
  }
  .card-header .fa-star {
    color: #ffc107; /* Adjust color as needed */
  }
  .card-header .fa-user {
    margin-right: 5px;
  }
  .card-footer .fa-clock {
    margin-right: 5px;
  }
  .rounded-circle {
    border-radius: 50%;
  }
  .mr-3 {
    margin-right: 1rem;
  }
  .mb-3 {
    margin-bottom: 1rem;
  }
</style>