<div class="certificate-container">
  <div class="certificate-border">
    <div class="certificate-header">Certificate of Completion</div>
    <div class="certificate-body">
      <h3>This is to certify that</h3>
      <div class="recipient-name"><%= @enrollment.user.full_name %></div>
      <hr class="horizontal-line">
      <h3>has successfully completed the course on</h3>
      <div class="certificate-details">
        <span class="course-title"><strong><%= @enrollment.course.title %></strong></span>
      </div>
      <h3 class="uppercase">FROM BRAINSTAQ BUSINESS DEVELOPMENT ACADEMY</h3>
    </div>
    <div class="certificate-id">
      <h4><strong>Date Completed:</strong> <%= @enrollment.updated_at.strftime('%d-%b-%Y') %></h4>
    </div>
    <div class="certificate-footer">
      <div class="signature-area">
        <img src="<%= wicked_pdf_asset_base64('signature.png') %>" alt="Signature" class="signature-image">
        <hr class="signature-line">
        <p class="teacher-name"><strong>Mr. <%= @enrollment.course.user.full_name %> Joe</strong></p>
        <p class="teacher-title">CEO, KOBU Innovative Solutions</p>
      </div>
      <img src="<%= wicked_pdf_asset_base64('brainstaq-logo.png') %>" alt="Brainstaq Logo" class="brainstaq-logo">
      <p class="company-info mt-2">KOBU Innovative Solutions | www.brainstaq.ng</p>
    </div>
  </div>
  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</div>