<% content_for :title, "Course Details" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Course Details</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to 'Courses', courses_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page"><%= @course.title %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<section class="bg-none py-0 py-sm-5">
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-8">
				<!-- Badge -->
				<h6 class="mb-3 font-base btn-primary btn-sm cat-sm text-white py-2 px-4 rounded-2 d-inline-block"><%= @course.course_category.name %></h6>
				<!-- Title -->
				<h1><%= @course.title %></h1>
				<p><%= simple_format(@course.marketing_description) %></p>
				<!-- Content -->
				<ul class="list-inline mb-0">
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i> <%= @course.average_rating.round %> Ratings</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i> <%= @course.enrollments_count %> Enrolled</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal text-success me-2"></i> <%= @course.level %></li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fa fa-clock text-danger me-2"> </i> Last updated <%= @course.updated_at.strftime("%m/%Y") %></li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section class="pb-0">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<div class="card-header border-bottom px-4 py-3 bg-light">
            <ul class="nav nav-pills nav-tabs-line py-0" id="myTab" role="tablist">
              <li class="nav-item me-2 me-sm-4" role="presentation">
                <button class="nav-link mb-2 mb-md-0 active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
              </li>
              <li class="nav-item me-2 me-sm-4" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="curriculum-tab" data-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">Curriculum</button>
              </li>
              <li class="nav-item me-2 me-sm-4" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="instructor-tab" data-toggle="tab" href="#instructor" type="button" role="tab" aria-controls="instructor" aria-selected="false">Instructor</button>
              </li>
              <li class="nav-item me-2 me-sm-4" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="reviews-tab" data-toggle="tab" href="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
              </li>
              <li class="nav-item me-2 me-sm-4" role="presentation">
                <button class="nav-link mb-2 mb-md-0" id="faq-tab" data-toggle="tab" href="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false">FAQs</button>
              </li>
            </ul>
          </div>
          <!-- Tabs END -->

					<!-- Overview contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="myTabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
								<!-- Course detail START -->
								<h5 class="mb-3">Course Description</h5>
								<p class="mb-3"><%= @course.description %></p>
                <!-- Course detail END -->
							</div>
							<!-- Content END -->

              <!-- Curriculum Content START -->
              <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
                <!-- Course accordion START -->
                <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                  <% if current_user %>
                    <% if @course.user == current_user %>
                      <% @chapters.each_with_index do |chapter, index| %>
                        <div class="accordion-item mb-3">
                          <h6 class="accordion-header font-base" id="heading-<%= index + 1 %>">
                            <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="false" aria-controls="collapse-<%= index + 1 %>">
                              <i class="far fa-bookmark mr-2"></i> Chapter <%= chapter.row_order_rank + 1 %>: <%= chapter.title %>
                            </button>
                          </h6>
                          <div id="collapse-<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordionExample2">
                            <div class="accordion-body mt-3">
                              <% chapter.lessons.rank(:row_order).each do |lesson| %>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="position-relative d-flex align-items-center">
                                    <a href="<%= course_lesson_path(@course, lesson) + '#current_lesson' %>" class="btn btn-danger-soft play-button-icon btn-round btn-sm mb-0 stretched-link position-static">
                                      <i class="fas fa-play me-0"></i>
                                    </a>
                                    <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">
                                      <%= link_to course_lesson_path(@course, lesson, anchor: "current_lesson") do %>
                                        <%= lesson.row_order_rank + 1 %>. <%= lesson.title %>
                                      <% end %>
                                    </span>
                                  </div>
                                  <div class="icon-group d-flex align-items-center">
                                    <% if current_user.admin? %>
                                      <%= link_to edit_course_lesson_path(@course, lesson), class: 'badge badge-warning mr-2' do %>
                                        <i class="fa fa-edit"></i>
                                      <% end %>
                                      <%= link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-2' do %>
                                        <i class="fa fa-trash"></i>
                                      <% end %>
                                    <% elsif current_user.viewed?(lesson) %>
                                      <div class="text-success mr-2"><i class="fa fa-check-square"></i></div>
                                    <% else %>
                                      <div class="text-danger mr-2"><i class="fa fa-check-square"></i></div>
                                    <% end %>
                                    <% unless lesson.comments_count.zero? %>
                                      <div class="text-secondary">
                                        <i class="fa fa-comment"></i> <%= lesson.comments_count %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                                <hr> <!-- Divider -->
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% elsif current_user.has_role?(:admin) || current_user.bought?(@course) %>
                      <% @chapters.each_with_index do |chapter, index| %>
                        <div class="accordion-item mb-3">
                          <h6 class="accordion-header font-base" id="heading-<%= index + 1 %>">
                            <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="false" aria-controls="collapse-<%= index + 1 %>">
                              <i class="far fa-bookmark mr-2"></i> Chapter <%= chapter.row_order_rank + 1 %>: <%= chapter.title %>
                            </button>
                          </h6>
                          <div id="collapse-<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordionExample2">
                            <div class="accordion-body mt-3">
                              <% chapter.lessons.rank(:row_order).each do |lesson| %>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="position-relative d-flex align-items-center">
                                    <a href="<%= course_lesson_path(@course, lesson) + '#current_lesson' %>" class="btn btn-danger-soft play-button-icon btn-round btn-sm mb-0 stretched-link position-static">
                                      <i class="fas fa-play me-0"></i>
                                    </a>
                                    <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">
                                      <%= link_to course_lesson_path(@course, lesson, anchor: "current_lesson") do %>
                                        <%= lesson.row_order_rank + 1 %>. <%= lesson.title %>
                                      <% end %>
                                    </span>
                                  </div>
                                  <div class="icon-group d-flex align-items-center">
                                    <% if current_user.admin? %>
                                      <%= link_to edit_course_lesson_path(@course, lesson), class: 'badge badge-warning mr-2' do %>
                                        <i class="fa fa-edit"></i>
                                      <% end %>
                                      <%= link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-2' do %>
                                        <i class="fa fa-trash"></i>
                                      <% end %>
                                    <% elsif current_user.viewed?(lesson) %>
                                      <div class="text-success mr-2"><i class="fa fa-check-square"></i></div>
                                    <% else %>
                                      <div class="text-danger mr-2"><i class="fa fa-check-square"></i></div>
                                    <% end %>
                                    <% unless lesson.comments_count.zero? %>
                                      <div class="text-secondary">
                                        <i class="fa fa-comment"></i> <%= lesson.comments_count %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                                <hr> <!-- Divider -->
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <% @chapters.each_with_index do |chapter, index| %>
                        <div class="accordion-item mb-3">
                          <h6 class="accordion-header font-base" id="heading-<%= index + 1 %>">
                            <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="false" aria-controls="collapse-<%= index + 1 %>">
                              <i class="far fa-bookmark mr-2"></i> Chapter <%= chapter.row_order_rank + 1 %>: <%= chapter.title %>
                            </button>
                          </h6>
                          <div id="collapse-<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordionExample2">
                            <div class="accordion-body mt-3">
                              <% chapter.lessons.rank(:row_order).each do |lesson| %>
                                <div class="d-flex justify-content-between align-items-center">

                                  <div class="position-relative d-flex align-items-center">
                                    <%= link_to course_lesson_path(@course, lesson, anchor: "current_lesson") do %>
                                      <a class="play-button-icon btn-danger-soft">
                                        <i class="fas fa-play"></i>
                                      </a>
                                      <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">
                                        <%= lesson.row_order_rank + 1 %>. <%= lesson.title %>
                                      </span>
                                    <% end %>
                                  </div>
                                  <div class="icon-group d-flex align-items-center">
                                    <% if current_user.admin? %>
                                      <%= link_to edit_course_lesson_path(@course, lesson), class: 'badge badge-warning mr-2' do %>
                                        <i class="fa fa-edit"></i>
                                      <% end %>
                                      <%= link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-2' do %>
                                        <i class="fa fa-trash"></i>
                                      <% end %>
                                    <% elsif current_user.viewed?(lesson) %>
                                      <div class="text-success mr-2"><i class="fa fa-check-square"></i></div>
                                    <% else %>
                                      <div class="text-danger mr-2"><i class="fa fa-check-square"></i></div>
                                    <% end %>
                                    <% unless lesson.comments_count.zero? %>
                                      <div class="text-secondary">
                                        <i class="fa fa-comment"></i> <%= lesson.comments_count %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                                <hr> <!-- Divider -->
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% @chapters.each_with_index do |chapter, index| %>
                      <div class="accordion-item mb-3">
                        <h6 class="accordion-header font-base" id="heading-<%= index + 1 %>">
                          <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="false" aria-controls="collapse-<%= index + 1 %>">
                            <i class="far fa-bookmark mr-2"></i> Chapter <%= chapter.row_order_rank + 1 %>: <%= chapter.title %>
                          </button>
                        </h6>
                        <div id="collapse-<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordionExample2">
                          <div class="accordion-body mt-3">
                            <% chapter.lessons.rank(:row_order).each do |lesson| %>
                              <div class="position-relative d-flex align-items-center">
                                <%= link_to "#" do %>
                                  <a class="play-button-icon disabled text-white">
                                    <i class="fas fa-play"></i>
                                  </a>
                                  <span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">
                                    <%= lesson.row_order_rank + 1 %>. <%= lesson.title %>
                                  </span>
                                <% end %>
                              </div>
                              
                              <hr> <!-- Divider -->
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <!-- Course accordion END -->
              </div

							<!-- Content START -->
							<div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
								<!-- Card START -->
								<div class="card mb-0 mb-md-4">
									<div class="row g-0 align-items-center">
										<div class="col-md-5">
											<!-- Image -->
											<% if @course.user %>
												<% if @course.user.image_url %>
													<%= image_tag @course.user.image_url, size: '180x180', class: 'img-fluid rounded-3' %>
												<% end %>
											<% end %>
										</div>
										<div class="col-md-7">
											<!-- Card body -->
											<div class="card-body">
												<!-- Title -->
												<h3 class="card-title mb-0"><%= link_to @course.user.full_name, profile_path(@course.user.username) %></h3>
												<p class="mb-2">Course Instructor</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Card END -->
								
								<!-- Instructor info -->
								<h5 class="mb-3">About Instructor</h5>
								<p class="mb-3"><%= @course.user.bio %> </p>
							</div>
							<!-- Content END -->

							<!-- Content START -->
							
							<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
								<!-- Review START -->
									<h5 class="mb-3">Our Student Reviews</h5>

                  <% if @reviews.any? %>
                  <br>
                  <h4>
                    <div class="far fa-comment"></div>
                    <%= pluralize(@reviews.count, 'review') %>
                  </h4>
                  <div class="list-group">
                    <% @reviews.each do |enrollment| %>
                      <div class="list-group-item">
                        <%= render 'enrollments/enrollment_show', enrollment: enrollment %>
                      </div>
                    <% end %>
                  </div>
                  <p></p>
                <% end %>
								<!-- Review END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
								<!-- Title -->
								<h5 class="mb-3">Frequently Asked Questions</h5>
								<!-- Accordion START -->
								<div class="accordion accordion-flush" id="accordionExample">
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne">
											<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<span class="text-secondary fw-bold me-3">01</span>  
												<span class="h6 mb-0">What is Brainstaq Academy and what courses does it offer?</span> 
											</button>
										</h2>
										<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">
												Brainstaq Academy is an integral feature of the Brainstaq Enterprise 
                        Development Platform designed to provide users with free access to a wide 
                        range of business and entrepreneurship-related courses. Our goal is to 
                        empower aspiring entrepreneurs and business professionals with the knowledge 
                        and skills they need to succeed in today's competitive market. 
                        The courses cover various topics, including business planning, 
                        financial management, marketing strategies, startup development, and more. 
                        Upon completion of each course, users can earn a certificate that validates 
                        their newly acquired skills and knowledge. 
											</div>
										</div>
									</div>
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												<span class="text-secondary fw-bold me-3">02</span>  
												<span class="h6 mb-0">
                          How can I enroll in a course on Brainstaq Academy, and are 
                          there any prerequisites?
                        </span> 
											</button>
										</h2>
										<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">
												Enrolling in a course on Brainstaq Academy is straightforward and hassle-free. Simply follow these steps:
                        <ol>
                            <li>
                              <strong>Create an Account:</strong> If you haven’t already, sign up 
                              for a free account on the Brainstaq Enterprise Development Platform.
                            </li>
                            <li>
                              <strong>Navigate to Brainstaq Academy:</strong> 
                              From the dashboard, click on the Brainstaq Academy section.
                            </li>
                            <li>
                              <strong>Browse Courses:</strong> 
                              Browse through our extensive catalog of business and entrepreneurship 
                              courses.
                            </li>
                            <li>
                              <strong>Enroll:</strong> 
                              Select a course that interests you and click the "Enroll" button. 
                              There are no prerequisites for most courses, making them accessible to 
                              everyone regardless of their background or experience level.
                            </li>
                        </ol>
                        
												<p class="mt-2">Once enrolled, you can start learning at your own pace and 
                        earn a certificate upon successful completion of the course.
											</div>
										</div>
									</div>
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												<span class="text-secondary fw-bold me-3">03</span>  
												<span class="h6 mb-0">How do I earn a certificate from Brainstaq Academy, and what is its significance?</span> 
											</button>
										</h2>
										<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">
												To earn a certificate from Brainstaq Academy, you need to complete the following steps:
                        <ol>
                            <li>
                              <strong>Complete the Course:</strong> 
                              Finish all the modules and lessons in the course.
                            </li>
                            <li>
                              <strong>Pass Assessments:</strong> 
                              Successfully pass any quizzes, assignments, or exams associated with 
                              the course.
                            </li>
                            <li>
                              <strong>Meet Requirements:</strong> 
                              Ensure you meet any additional requirements specified by the course, 
                              such as participation in discussion forums or project submissions.
                            </li>
                        </ol>
                        Once you fulfill all the course requirements, you will receive a digital 
                        certificate. This certificate serves as a recognition of your efforts and 
                        validates the knowledge and skills you have gained. You can showcase this 
                        certificate on your resume, LinkedIn profile, or any other professional 
                        platform to enhance your career prospects. 
											</div>
										</div>
									</div>
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingFour">
											<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												<span class="text-secondary fw-bold me-3">04</span>  
												<span class="h6 mb-0">Is there any cost associated with taking courses on 
                          Brainstaq Academy, and what are the benefits of these free courses?
                        </span> 
											</button>
										</h2>
										<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">
												No, there is no cost associated with taking courses on Brainstaq Academy. 
                        All our courses are offered completely free of charge. We believe in 
                        providing accessible education to empower entrepreneurs and business 
                        professionals worldwide. The benefits of these free courses include:
                        <ul>
                          <li>
                            <strong>Quality Education:</strong> 
                            Access to high-quality, expert-led courses without any financial 
                            burden.
                          </li>
                          <li>
                            <strong>Flexible Learning:</strong> 
                            Learn at your own pace and convenience.
                          </li>
                          <li>
                            <strong>Certification:</strong> 
                            Earn certificates upon course completion to showcase your 
                            achievements.
                          </li>
                          <li>
                            <strong>Career Advancement:</strong> 
                            Gain valuable skills and knowledge that can enhance your career 
                            opportunities and business growth.
                          </li>
                        </ul>
                        By offering free courses, we aim to remove financial barriers and create 
                        equal opportunities for everyone to learn and grow.
											</div>
										</div>
									</div>
									<!-- Item -->
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingFive">
											<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												<span class="text-secondary fw-bold me-3">05</span>  
												<span class="h6 mb-0">How can I track my progress and stay motivated 
                        throughout the course on Brainstaq Academy?</span> 
											</button>
										</h2>
										<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
											<div class="accordion-body pt-0">
												Tracking your progress and staying motivated is essential for successful 
                        learning. Brainstaq Academy provides several features to help you stay on 
                        track:
                        <ul>
                            <li>
                              <strong>Progress Dashboard:</strong> 
                              Your personal dashboard shows an overview of your enrolled courses, 
                              progress, and upcoming milestones.
                            </li>
                            <li>
                              <strong>Regular Updates:</strong> 
                              Receive email notifications and reminders about upcoming deadlines, 
                              new course releases, and tips for staying on track.
                            </li>
                            <li>
                              <strong>Community Support:</strong> 
                              Join discussion forums and community groups to interact with fellow 
                              learners, share experiences, and seek support.
                            </li>
                            <li>
                              <strong>Instructor Feedback:</strong> 
                              Get constructive feedback from course instructors on assignments and 
                              projects to help you improve.
                            </li>
                            <li>
                              <strong>Achievements and Rewards:</strong> 
                              Earn badges and certificates for completed courses and milestones to 
                              keep you motivated and acknowledge your accomplishments.
                            </li>
                        </ul>
                        By utilizing these features, you can effectively manage your learning 
                        journey, stay motivated, and achieve your educational goals on Brainstaq 
                        Academy. 
											</div>
										</div>
									</div>
								</div>
								<!-- Accordion END -->
							</div>
							<!-- Content END -->

						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
                <% if @course.image.present? %>
                  <%= image_tag @course.image, loading: "lazy", class: "card-img", height: "240", width: "100%" %>
                <% end %>
							</div>

              <div class="card-footer text-center">
                <%= enrollment_button(@course) %>
                <div class="row">
                  <%= review_button(@course) %>
                </div>
                <div class="row">
                  <%= certificate_button(@course) %>
                </div>
              </div>

              <div class="card-footer row">
                <div class="col-md-6">
                  <span class="text-warning fa fa-star"></span>
                  <b><%= @course.average_rating %></b>
                  (
                  <i class="fa fa-user-graduate"></i>
                  <%= @course.enrollments_count %>
                  )
                  <i class="fa fa-tasks"></i>
                  <%= @course.lessons_count %>
                </div>
                <div class="col-md-6 text-right">
                  <% if @course.user %>
                    <% if @course.user.image_url %>
                      <%= image_tag @course.user.image_url, size: '30x30', alt: "#{@course.user.email}", class: 'rounded-circle' %>
                    <% end %>
                    <%= link_to @course.user.full_name, profile_path(@course.user.username) %>
                  <% end %>
                </div>
              </div>
		
							<div class="card-body px-3">
                <% if current_user %>
                  <% if policy(@course).admin_or_owner? %>
                    <div class="card-footer text-center">
                      <div class="btn-group">
                        <%= link_to new_course_chapter_path(@course, @chapter), class: 'btn btn-sm btn-primary' do %>
                          <i class="fa fa-plus"></i> Chapter
                        <% end %>
                        <%= link_to new_course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-primary' do %>
                          <i class="fa fa-plus"></i> Lesson
                        <% end %>
                        <%= link_to course_course_wizard_index_path(@course), class: 'btn btn-sm btn-warning' do %>
                          <i class="fa fa-edit"></i> Editor
                        <% end %>
                      </div>
                    </div>
                  <% end %>

                  <% if policy(@course).admin_or_owner? %>
                    <div class="card-footer">
                      <%= link_to analytics_course_path(@course), class: 'btn btn-sm btn-info' do %>
                        <i class="fa fa-chart-bar"></i> Analytics
                      <% end %>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                      <div class="custom-control custom-switch">
                        <% if @course.published? %>
                          <input id="customSwitch1" class="custom-control-input" disabled="disabled" checked="checked" type="checkbox" />
                        <% else %>
                          <input id="customSwitch2" class="custom-control-input" disabled="disabled" type="checkbox" />
                        <% end %>
                        <label class="custom-control-label" for="Published">Teacher Published</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <% if policy(@course).approve? %>
                          <%= link_to approve_course_path(@course), method: :patch do %>
                            <% if @course.approved? %>
                              <input id="customSwitch1" class="custom-control-input" type="checkbox" checked="checked" />
                            <% else %>
                              <input id="customSwitch1" class="custom-control-input" type="checkbox" />
                            <% end %>
                            <label class="custom-control-label" for="customSwitch1">Admin Approved</label>
                          <% end %>
                        <% else %>
                          <% if @course.approved? %>
                            <input id="customSwitch1" class="custom-control-input" disabled="disabled" checked="checked" type="checkbox" />
                          <% else %>
                            <input id="customSwitch2" class="custom-control-input" disabled="disabled" type="checkbox" />
                          <% end %>
                          <label class="custom-control-label" for="Published">Admin Approved</label>
                        <% end %>
                      </div>
                    </div>
                    <% if policy(@course).admin_or_owner? || policy(@course).destroy? %>
                      <div class="card-footer text-right">
                        <%= link_to @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'actions btn btn-sm btn-danger' do %>
                          <i class="fa fa-trash"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
						</div>

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h5 class="mb-3 text-center">This course includes</h5>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open mr-2 text-primary"></i>Chapters</span>
									<span><%= @course.chapters_count %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock mr-2 text-primary"></i>Lessons</span>
									<span><%= @course.lessons_count %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal mr-2 text-primary"></i>Skills</span>
									<span><%= @course.level %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe  mr-2 text-primary"></i>Language</span>
									<span><%= @course.language %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock mr-2 text-primary"></i>Updated on</span>
									<span><%= @course.updated_at.strftime("%m/%Y") %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal  mr-2 text-primary"></i>Certificate</span>
									<span>Yes</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

<style>

.btn-danger-soft {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
}
.btn-danger-soft:active, .btn-danger-soft:hover {
  color: #fff !important;
  background-color: #d6293e !important;
  border-color: #d6293e !important;
}
.btn-danger-soft:focus {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
  border-color: transparent;
}

/* Custom styles for the lesson icons */
.icon-group .fa {
  font-size: 1.2rem;
}

.icon-group .badge {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
}

.icon-group .text-success .fa-check-square,
.icon-group .text-danger .fa-check-square {
  font-size: 1.2rem;
}

.icon-group .text-secondary .fa-comment {
  font-size: 1.2rem;
}

.play-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5%;
  background-color: #e74c3c;
  color: white;
}

.nav-tabs-line .nav-link {
  color: #6c757d; /* Light gray */
  border: 0;
  border-bottom: 2px solid transparent; /* Border color for inactive state */
  padding: 10px 15px;
  font-weight: 600; /* Bold text */
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-tabs-line .nav-link:hover {
  color: #495057; /* Darker gray on hover */
}

.nav-tabs-line .nav-link.active {
  color: #007bff; /* Primary color */
  border-bottom-color: #007bff; /* Border color for active state */
  background-color: transparent;
}

.card-header {
  background-color: #f8f9fa; /* Light background for card header */
  border-bottom: 1px solid #dee2e6; /* Border color for card header */
}

@media (min-width: 576px) {
  .nav-item {
    margin-right: 2rem;
  }
}


.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1.25rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: var(--bs-gray-800);
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: var(--bs-border-color);
  --bs-card-border-radius: 0.5rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0.5rem;
  --bs-card-cap-padding-y: 1rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: var(--bs-white);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1.25rem;
  --bs-card-group-margin: 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-subtitle {
  margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
  color: var(--bs-card-subtitle-color);
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: var(--bs-card-spacer-x);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}

.card-header-tabs {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: var(--bs-card-bg);
  border-bottom-color: var(--bs-card-bg);
}

.card-header-pills {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.card-group > .card {
  margin-bottom: var(--bs-card-group-margin);
}
@media (min-width: 576px) {
  .card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23747579'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055fb5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(6, 106, 201, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #055fb5;
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 0.9375rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: var(--bs-accordion-transition);
  transition: var(--bs-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    -webkit-transition: none;
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  -webkit-box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
          box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  -webkit-transform: var(--bs-accordion-btn-icon-transform);
          transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  -webkit-transition: var(--bs-accordion-btn-icon-transition);
  transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    -webkit-transition: none;
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: var(--bs-accordion-btn-focus-box-shadow);
          box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type > .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush > .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush > .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}
.accordion-flush > .accordion-item > .accordion-collapse {
  border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2324292d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
hr {
  margin: 1rem 0;
  color: var(--bs-gray-500);
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: var(--bs-heading-color);
}

h1, .h1 {
  font-size: calc(1.40625rem + 1.875vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.8125rem;
  }
}

h2, .h2 {
  font-size: calc(1.359375rem + 1.3125vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2.34375rem;
  }
}

h3, .h3 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.875rem;
  }
}

h4, .h4 {
  font-size: calc(1.2890625rem + 0.46875vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.640625rem;
  }
}

h5, .h5 {
  font-size: calc(1.25625rem + 0.075vw);
}
@media (min-width: 1200px) {
  h5, .h5 {
    font-size: 1.3125rem;
  }
}

h6, .h6 {
  font-size: 0.9375rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
} %>
</style>

<script>

</script>