<% @course_categories.in_groups_of(4) do |group| %>
  <div class="container mb-3">
    <div class="row">
      <div class="container">
        <div class="row g-4">
          <% group.compact.each do |course_category| %>
            <div class="col-sm-6 col-md-4 col-xl-3">
              <div class="card card-body bg-category<%= course_category.id %> bg-opacity-10 text-center position-relative btn-transition p-4" style="height: 200px; display: flex; flex-direction: column; justify-content: space-between;">
                <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                  <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x icon-background"></i> <!-- White circular background -->
                      <i class="fa fa-book fa-stack-1x"></i> <!-- Font Awesome book icon -->
                  </span>
                </div>
                <h4 style="font-size:18px;"><%= course_category.name %></a></h4>
                <% course_count = Course.where(course_category_id: course_category.id).count %>
                <div class="d-flex justify-content-center align-items-end">
                  <h5 class="mb-0"><strong><%= pluralize(course_count, 'Course') %></strong></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? && current_user.admin? %>
        <li>
          <%= link_to 'New Course Category', new_course_category_path %>
          <%= link_to 'Edit', edit_course_category_path(course_category) %>
          <%= link_to 'Destroy', course_category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>  
    </div>
  </div>
<% end %>
</div>